cloud_address: controller.{{ orc8r_domain }}
cloud_port: 443
bootstrap_address: bootstrapper-controller.{{ orc8r_domain }}
bootstrap_port: 443
fluentd_address: fluentd.{{ orc8r_domain }}
fluentd_port: 443

rootca_cert: /var/opt/magma/tmp/certs/rootCA.pem
